.account {
    background-image: url("../Home/assets/burger-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.signup-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: auto;
    width: 80%;
    max-width: 400px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px white solid;
    border-radius: 10%;
}

.signup-component h2 {
    color: orange;
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
}

.signup-component h4 {
    font-family: 'Comic Sans MS', sans-serif;
    color: white;
}

.signup-component h4 h2{
    border: 2px solid white;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
}


.signup-component form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.signup-component form > input {
    padding: 4px 15px;
    height: 40px;
    width: 100%;
    max-width: 300px;
    margin: 0;
    border-radius: 20px;
    font-family: 'Comic Sans MS', sans-serif;
}

.signup-component form > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    width: 100%;
    max-width: 300px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Comic Sans MS', sans-serif;
    cursor: pointer;
}
