.customize1 {
    background-image: url("../Home/assets/burger-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Comic Sans MS', sans-serif;
    height: 80ch;
}

.burger-customizer {
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 65ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burger-customizer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
.burger-customizer h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}
  
.ingredients{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ingredients label{
    margin: 0px 25px;
}

.burger-customizer h3 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
  
.burger-customizer label {
    color: white;
    display: block;
    margin-bottom: 10px;
}
  
.burger-customizer input[type="text"],
.burger-customizer input[type="checkbox"] {
    margin-left: 10px;
}
  
.burger-customizer p {
    margin-top: 10px;
    color: white;
}
  
.burger-customizer button {
    padding: 10px;
    color: black;
    font-size: 1rem;
    background-color: orange;
    border-radius: 30px;
    font-family: 'Comic Sans MS', sans-serif;
}
