#footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    height: 25vh;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px; 
}

.copyrights{
    color: grey;
    display: flex;
    align-items: center;
}

.copyrights h5{
    display:flex;
    justify-content: flex-start;
    font-family: 'Comic Sans MS', sans-serif;
}

.contact a{
    text-decoration: none;
    color: white;
}

.contact img{
    width: 20px;
    margin-right: 10px;
    border-radius: 2px;
}

.credits{
    display: flex;
    align-items: center;
    gap: 10px;
}

.name{
    font-size: 1.2rem;
}

.credits img{
    width: 20px;
    border-radius: 20%;
}

.copyrights:hover, .credits div:hover{
    transform: scale(1.05);
    transition: transform 0.4s;
}

.credits img, .contact div:hover {
    transform: scale(1.25);
    transition: transform 0.4s;    
}

@media (max-width: 800px) {
    #footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
