.search1 {
    background-image: url("../Home/assets/burger-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.search1 input {
    border-radius: 5px;
    height: 30px;
    width: 50%;
    padding: 2px 10px;
    margin-right: 20px;
    font-family: 'Comic Sans MS', sans-serif;
}

.search1 button {
    margin-bottom: 20px;
    border-radius: 20px;
    height: 35px;
    background: orange;
    color: black;
    font-family: 'Comic Sans MS', sans-serif;
}

.hot{
    color: orange;
}

.burger-list {
    margin: auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    border-radius: 20px;
    padding-top: 20px;
    color: white;
    height: auto;
    width: auto;
    min-width: 300px;
    margin: 10px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0,0,0,0.6);
    border: 2px white solid;
}
