body{
    background: linear-gradient(300deg, #00edcdc6, #0f89d0, #06d47be9);
    background-size: 180% 180%;
    animation: gradient-animation 12s ease infinite;
}

.description{
    color: azure;
}

.list{
    font-family: Arial, Helvetica, sans-serif;
}

.my-photo{
    height:200px; 
    border-radius: 20%;
}

.coding-image{
    height:150px;
    border-radius: 10%;
}

.music-image{
    height:150px;
    width:150px;
    border-radius: 10%;
}

.editing-image{
    height:150px;
    width: 200px;
    border-radius: 10%;
}

.my-photo2{
    height:400px;
    border-radius: 50%;
}

.book-image{
    height:350px;
    width: 400px;
    border-radius: 50%;
}

.card{
    background-color: #0fa0d0;
}

.items>li{
    background-color: #0fa6d0;
}

.gmail-logo{
    height: 20px;
    margin-right: 20px;
}

.twitter-image{
    width:20px;
    border-radius: 20%;;
}

.instagram-logo{
    height:20px;
}

.reddit-logo{
    width: 20px;
    border-radius: 50%;
}

.discord-logo{
    width: 20px;
}

.linkedin-logo{
    width: 20px;
    border-radius: 50%;
}

.github-logo{
    width: 20px;
    border-radius: 50%;
}