<head>
    <title>FAQs</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <h1 style="text-align: center;" class="mb-5">Frequently Asked Questions</h1>
        <div class="p-5 text-center rounded-3">
          <h1>How to Get Started?</h1>
          <p class="col-lg-8 mx-auto fs-5">
            Use the signup page to create a account and save your information and access your contents saved later.
          </p>
          <div class="d-inline-flex gap-2 mb-5">
            <a href="/signup"><button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
              Signup
            </button></a>
            <a href="/login"><button class="btn btn-outline-light btn-lg px-4 rounded-pill" type="button">
              Login
            </button></a>
          </div>
        </div>

        <div class=" text-center rounded-3">
            <h1>Why Blog and what does it mean?</h1>
            <p class="col-lg-8 mx-auto fs-5 mt-5">
                A blog site is like a digital journal or platform where individuals or organizations can regularly post articles, updates, or content on a specific topic. It's a space to share thoughts, information, and engage with readers. It can be a personal diary, a professional outlet, or anything in between. Blogging allows people to express themselves, connect with others, and contribute to online discussions.
            </p>
        </div>
      </div>

      <div class=" text-center rounded-3 mt-5 pt-4">
        <h1>What are the key features of this Blog?</h1>
        <p class="col-lg-8 mx-auto fs-5 mt-5">
            Post, Article, Comment Sections, Archives, Search Functionality, Author Information, Social media Integration, Responsive Design, Subscription/ RSS Feed, Analytics.
        </p>
    </div>

    <div class=" text-center rounded-3 mt-5 pt-4">
        <h1>What are the Subscription Plans?</h1>
        <p class="col-lg-8 mx-auto fs-5 mt-5">
            This Blog Sites currently doesn't need a Subscription from the user to work, Stay Honest, Spread Positivity and Awareness, Be Good and get Good.
        </p>
    </div>

    <div class=" text-center rounded-3 mt-5 pt-4">
        <h1>Who is the Owner of this Blog Site?</h1>
        <p class="col-lg-8 mx-auto fs-5 mt-5">
            You can learn about the author in the bio section Of the 'Contact' page.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a href="/contact"><button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
              Go to Contact
            </button></a>
        </div>
    </div>
  </div>
    <%- include("partials/footer.ejs") %>
</body>