<body>
    <%- include("partials/header.ejs") %>
     <div class="px-4 py-5 my-5 text-center class1">
        <img class="d-block mx-auto pb-5" src="/images/image1.jpg" alt="Avengers Image" width="500">
        <h1 class="display-5 fw-bold pb-4" style="color: white;">Experts express concerns over AI image generators potentially violating copyright</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-1">Experts are pointing out that AI image generators, like Midjourney, may violate copyright laws by creating images resembling copyrighted material, prompting concerns about exploitation and legal implications.</p>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-1">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6 pe-5 ">
            <img src="/images/image2.jpg" class="d-block mx-lg-auto img-fluid" alt="Cuban Flag" width="900" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-5">Cyber attack delays Cuban fuel price surge</h1>
            <p class="lead">Mildrey Granadillo, the first deputy minister, assured the public that despite the cyberattack, there would be no disruption in the sale of fuel. Granadillo stated that the government will disclose the revised date for the fuel price increase when the conditions are deemed appropriate, refraining from specifying a particular date.</p>
          </div>
        </div>
      </div>

      <div class="px-4 pt-5x text-center">
        <h1 class="display-4 fw-bold">Anonymous Sudan claims responsibility for cyber attacks on UAE entities</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead pt-4 mx-4">The hacktivist group Anonymous Sudan has claimed to be behind a series of Distributed Denial of Service Attacks (DDoS attacks) targeting prominent entities in the United Arab Emirates (UAE). Their most recent claim on 16 January targeted Flydubai, a government-owned airline based in Dubai.</p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="/images/image3.jpg" class="img-fluid border rounded-3 shadow-lg mx-4" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>

      
      <%- include("partials/footer.ejs") %>
</body>

