<body>
    <%- include("partials/header.ejs") %>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <img src="/images/image4.jpg">
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput"  style="color:black;">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword"  style="color:black;">Password</label>
              </div>
              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <div class="d-flex">
                <a href="/"><button class="w-100 btn btn-lg btn-primary me-4" type="submit">Log In</button></a> 
                <a href="/signup"><button class="w-100 btn btn-lg btn-primary ms-4" type="submit">Sign Up</button></a>
              </div>
              <hr class="my-4">
              <small>By clicking Sign in, you agree to the terms of use.</small>
            </form>
          </div>
        </div>
      </div>
    <%- include("partials/footer.ejs") %>
</body>