<head>
    <title>Skills development</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <h1 class="me-5 pe-5">Explore Some of the Best Online Learning Websites</h1>
        <div class="list-group d-grid gap-2">
          <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
            Websites For Front-End Development
            <a href="https://brandcurb.com/en/services/website-design-development/?gad_source=1&gclid=CjwKCAiAiP2tBhBXEiwACslfnssvU346tVqMiJPC_cueqosH_izn5QI7LEOUoe-X5tee5PzP1tc2iBoCp8MQAvD_BwE"><span class="d-block small opacity-50">Brand Curb</span></a>
            <a href = "https://digination.dev/?gad_source=1&gclid=CjwKCAiAiP2tBhBXEiwACslfnqnICCypCbWs5-Bu1grO2Ku7aoPCtYTZFVJUUQ57K7coOkFGBipZOxoCLx4QAvD_BwE"><span class="d-block small opacity-50">DigiNation</span></a>
            <a href = "https://www.upgrad.com/bootcamps/fullstack-development/?utm_source=GOOGLE&utm_medium=NBSEARCH&utm_campaign=IND_ACQ_WEB_GOOGLE_NBSEARCH_BU_UPG_APSE_MSV_Phrase_KH&utm_content=Web-Developer-Program&utm_term=web%20developer%20program&gad_source=1&gclid=CjwKCAiAiP2tBhBXEiwACslfnjAhJNK858K8GxpBeOp6Mo0AOKzYhyBRsoK5OZDrIJP935lOUFq9thoCaOoQAvD_BwE"><span class="d-block small opacity-50">upGrad</span></a>
          </label>
          
          <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
            Websites For Back-End Development
            <a href="https://courseinn.com/full-stack-developer-course-chennai?utml_term=b_complete%20backend%20development%20course&utm_medium=adwords_c&utm_campaign=&utm_source=&utm_term=complete%20backend%20development%20course&hsa_acc=9336670915&hsa_cam=20491758185&hsa_grp=153340449072&hsa_ad=675247364150&hsa_src=g&hsa_tgt=kwd-1296626230769&hsa_kw=complete%20backend%20development%20course&hsa_mt=b&hsa_net=adwords&hsa_ver=3&gclid=CjwKCAiAiP2tBhBXEiwACslfnorlOMJ59eK113Kjy8M2O1c8VG3RAeJ_x3NmpmzsZkDLSl20GlO1nxoC-sMQAvD_BwE"><span class="d-block small opacity-50">CourseInn</span></a>
            <a href = "https://www.crio.do/backend-developer-track/?utm_source=google-ads-search&utm_medium=backend&utm_campaign=Backend-Course&utm_term=backend%20developer%20course&gad_source=1&gclid=CjwKCAiAiP2tBhBXEiwACslfnvSGbTsugACBetZ-uk2kV-IuXJ074VTSE4qOEYHGdu5Gz75lddLGLBoCugYQAvD_BwE"><span class="d-block small opacity-50">Crio.Do</span></a>
            <a href = "https://www.guvi.in/zen-class/full-stack-development-course/?utm_source=Google-Search&utm_medium=Web-Development-High-Intent&utm_campaign=Web-Dev-Text-Ad&utm_content=Zen-Full-Stack-Search-TN-May-23&utm_network=g&utm_device=c&utm_keyword=learn%20web%20development%20onlinehttps://www.guvi.in/full-stack-development-course-with-javascript-ZenClass%3Futm_source%3DGoogle-Search%26utm_medium%3DWeb-Development-High-Intent%26utm_campaign%3DWeb-Dev-Text-Ad%26utm_content%3DZen-Full-Stack-Search-TN-May-23&utm_network=g&utm_device=c&utm_keyword=learn%20web%20development%20online&gad_source=1&gclid=CjwKCAiAiP2tBhBXEiwACslfnvgYUh3gJGwVV9s_1ppLzErdZe0t5mSsA0IGcTQUhg68hCVLI-eNWRoCuroQAvD_BwE"><span class="d-block small opacity-50">Guvi</span></a>
          </label>
      
          <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
            Websites For Database for Web Development
            <a href="https://astream.in/website-design-service/?gclid=CjwKCAiAiP2tBhBXEiwACslfniv3qemC1xa1qMghXKvCtxa2kd0Q2tR8LPCEYoXVUf94wQ_sFnZtJxoCFygQAvD_BwE"><span class="d-block small opacity-50">AStream</span></a>
            <a href = "https://learn.saylor.org/course/index.php?categoryid=9&gclid=CjwKCAiAiP2tBhBXEiwACslfnqV3IA4vl5OYZakE9Ldk2SA32_DmAGk4IC02TxwzvdGAZWOAIiv_rxoCiJsQAvD_BwE"><span class="d-block small opacity-50">Saylor.org</span></a>
            <a href = "https://kdb.ai/?utm_source=google&utm_medium=cpc&utm_campaign=KX-FY24Q3-WW-Digital-KDBAI+Server+Standard&utm_id=7018e000000p8vMAAQ&utm_term=apac&utm_content=text-link_kdbai-server-standard&creative=682986478740&keyword=database%20dev&matchtype=p&network=g&device=c&gad_source=1&gclid=CjwKCAiAiP2tBhBXEiwACslfnjGPJZQlwgyx6oNzJZS4yGacV9EO67dJbMEv47qBi6yAEjndnxTRyhoCySgQAvD_BwE"><span class="d-block small opacity-50">KDB.AI</span></a>
          </label>
      
          <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
            General Websites For Learning
            <a href="https://www.udemy.com"><span class="d-block small opacity-50">Udemy</span></a>
            <a href = "https://www.w3schools.com"><span class="d-block small opacity-50">W3Schools</span></a>
            <a href = "https://www.stackoverflow.com"><span class="d-block small opacity-50">Stack OverFlow</span></a>
          </label>
      
        </div>
      </div>
    <%- include("partials/footer.ejs") %>
</body>