<head>
    <title>Contact</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalTour">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow" style="color:black">
            <div class="modal-body p-5">
              <h2 class="fw-bold mb-0">Contact</h2>
      
              <ul class="d-grid gap-4 my-5 list-unstyled small">
                <li class="d-flex gap-4">
                  <div>
                    <a href="https://www.instagram.com/bruce_waynx"><img src="/images/instalogo.png" alt="instalogo" width="50" class="me-3"></a> <a href="https://www.twitter.com/bruce_waynx"><img src="/images/xlogo.png" alt="xlogo" width="50" class="me-3" style="border-radius:20%;"></a> <a href="https://www.reddit.com/user/Vaishnavatreddit"><img src="/images/redditlogo.png" alt="redditlogo" width="50" class="me-3"></a> <a href="https://discord.com/channels/@me"><img src="/images/discordlogo.png" alt="discordlogo" width="50" class="me-3"></a> <a href="https://in.linkedin.com/in/vaishnav-nishanth-av-9b9421216"><img src="/images/linkedinlogo.png" alt="linkedinlogo" width="50" class="me-3"></a> <a href="https://vaishnavnishanth3.github.io/css-portfolio-website/"><img src="/images/googlelogo.png" alt="googlelogo" width="50"></a>
                  </div>
                </li>
            </div>
          </div>
        </div>
      </div>
    <%- include("partials/footer.ejs") %>
</body>