.orders {
    background-image: url("../Home/assets/burger-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.orders h1, .orders1 h1 {
    font-family: 'Comic Sans MS', sans-serif;
    color: orange;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}

.orders-listed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: orange;
}

.orders-made {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 20px;
    color: white;
    width: 90%;
}

.individual-order {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px white solid;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 20px 0px;
}

.individual-order1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px white solid;
    border-radius: 30px;
    margin-bottom: 30px;
    
}

.ingredients{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    font-family: 'Comic Sans MS', sans-serif;
}

.orders-made img {
    margin: 10px 20px;
    width: 70%;
    height: auto;
    max-width: 200px;
    max-height: 150px;
    border-radius: 20px;
}

.orders-made h3,
.orders-made p {
    color: orange;
}

.cancel-button {
    cursor: pointer;
    background-color: orange;
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 16px;
    margin: 20px 12px;
    display: flex;
    justify-content: center;
}

.cancel-button:hover {
    background-color: darkorange;
}

.individual-order ul{
    list-style-type:none;
}

.individual-order1 ul{
    list-style-type:none;
}
